html {
  height: 100%;
}

body {
  background: url(https://images.pexels.com/photos/572897/pexels-photo-572897.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)
    no-repeat center center fixed;
  background-size: cover;
  color: #eee;
}

table,
td {
  margin: auto;
  text-align: center;
  background: rgba(204, 204, 204, 0.2);
}

td {
  padding: 30px 50px;
  font-size: 20px;
}

@media only screen and (max-width: 1000px) {
  table {
    display: none;
  }
}
